.wallet-heading {
  margin-top: 0;
  margin-bottom: 10px;
}

.wallet-ctas {
  margin-bottom: 20px;
}

.wallet-heading-cta {
  margin-left: 10px;
}

.wallet-view-container {
  position: relative;
}

.wallet-help-popover-content {
  padding: 20px;
  min-width: 300px;
}
