.faucet-dashboard {
  height: calc(100vh - 160px);
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
}

.faucet-dashboard .overview-container {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .faucet-dashboard .overview-container {
    height: calc(100vh - 250px);
  }
}

.settings-button-wrapper {
  position: absolute;
  top: 25px;
  right: 20px;
}

.faucet-intro {
  max-width: 500px;
}
