.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  transition: transform 0.5s ease-in-out;
  width: fit-content;
}

.toolbar .contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar.collapsed {
  transform: translateX(calc(-100% + 60px));
}

.toolbar.expanded {
  transform: translateX(0);
}

.toolbar .menu-item {
  margin-right: 5px;
}

.toolbar .menu-item-divider {
  margin-right: 15px;
}

.toolbar .navbar-collapse-button {
  margin-left: 15px;
}

.toolbar-wrapper {
  position: relative;
  width: 100%;
}

.price-drip-busd-lp-price-section {
  position: absolute;
  right: 20px;
  top: 35px;
  height: 100%;
  display: flex;
  align-items: center;
}

.small-label {
  font-size: 11px;
  margin-right: 7px;
}

@media screen and (min-width: 500px) {
  .price-drip-busd-lp-price-section {
    top: 0;
  }
}
