.nav-item {
  margin-right: 5px;
}

.mobile-menu.expanded {
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 1;
  background-color: #30404d;
}

.mobile-menu.collapsed {
  height: 0;
  width: 0;
  z-index: -999;
  opacity: 0;
  background-color: #30404d;
}

.mobile-menu {
  position: fixed;
  padding: 15px;
  transition: opacity 0.2s ease-in-out;
}

.mobile-menu .nav-item {
  display: block;
  margin-bottom: 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header li {
  list-style-type: none;
}

.desktop-menu-list {
  display: flex;
  flex-direction: row;
}

header ul.mobile-child-menu {
  margin-left: 15px;
}

.github-section {
  position: absolute;
  right: 10px;
}

.mobile-menu .github-section {
  position: relative;
  margin-left: 15px;
}

.github-link:hover {
  text-decoration: none;
}

.github-link {
  margin-left: 5px;
}

.price-drip-fiat-toggle-section {
  position: absolute;
  right: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.price-drip-fiat-toggle-section > * {
  margin-right: 10px;
}

.price-drip-fiat-toggle-section .bp3-control {
  margin-bottom: 0;
}

@media screen and (max-width: 990px) {
  .github-section {
    display: none;
  }

  .mobile-menu .github-section {
    display: block;
  }

  .price-drip-fiat-toggle-section {
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .price-drip-fiat-toggle-section {
    right: 40px;
  }
}
