.overview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overview-card {
  width: calc(50% - 2em);
  margin: 1em;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .overview-card {
    width: 100%;
  }
}

.overview-button {
  margin-left: 10px;
}

.overview-info {
  padding: 20px;
  max-width: 300px;
}
