.dashboard {
  height: calc(100vh - 160px);
  padding: 20px 20px;
  overflow: auto;
  position: relative;
}

.dashboard-intro {
  max-width: 768px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dashboard-card {
  padding: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.dashboard-card h3,
.dashboard-card h2 {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .dashboard-card {
    width: 100%;
  }

  .dashboard-card:first-child {
    margin-top: 0;
  }
}

.dashboard-info {
  padding: 20px;
  max-width: 300px;
}

.dashboard .bp3-tab-panel {
  flex-grow: 1;
}
