body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div#root {
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100% - 160px);
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.footer {
  text-align: center;
  padding: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app.bp3-dark {
  height: 100%;
  background-color: #30404d;
}

.app.bp3-dark .wrapper {
  background-color: #30404d;
}

.block {
  margin-top: 10px;
}

.block-bottom {
  margin-bottom: 10px;
}

.block-bottom-lg {
  margin-bottom: 40px;
}

.wallet-tab-panel-container,
.hydrate-claim-strategy-tab-panel-container {
  height: calc(100vh - 480px);
  min-width: 720px;
  overflow: auto;
}

.wallet-tab-panel-inner-container,
.hydrate-claim-strategy-tab-panel-inner-container {
  overflow: auto;
}

@media screen and (max-width: 1350px) {
  .wallet-tab-panel-container .bp3-collapse,
  .wallet-tab-panel-container .block,
  .hydrate-claim-strategy-tab-panel-container .block {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 200px);
  }
}

@media screen and (max-width: 2000px) {
  .wallet-tab-panel-container.garden .bp3-collapse,
  .wallet-tab-panel-container.garden .block {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 200px);
  }
}

@media screen and (max-width: 768px) {
  .wallet-tab-panel-container .bp3-collapse,
  .wallet-tab-panel-container .block,
  .hydrate-claim-strategy-tab-panel-container .block {
    width: calc(100vw - 30px);
  }

  .wallet-tab-panel-container,
  .hydrate-claim-strategy-tab-panel-container {
    height: calc(100vh - 400px);
  }
}

tr.warning {
  background: #a66321;
}

tr.danger {
  background: #a82a2a;
}

.navbar-edit,
.navbar-clean-data {
  margin-left: 10px;
}

.inline-field {
  float: left;
  margin-left: 10px;
}

.bp3-input-group.edit-plan-label {
  display: none;
}

.bp3-input-group.edit-plan-label.show {
  display: block;
}

.left-small-margin {
  margin-left: 15px;
}

.left-xs-margin {
  margin-left: 7px;
}

.hydrate-strategy-year-month-select-block {
  padding-bottom: 20px;
}

.right-small-margin {
  margin-right: 10px;
}

.menu-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.select-in-table {
  width: 50%;
}

ul.action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.action-list li {
  list-style-type: none;
  padding-bottom: 10px;
}

.top-small-margin {
  margin-top: 8px;
}
