body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div#root {
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app.bp3-dark {
  height: 100%;
  background-color: #30404d;
}

.block {
  margin-top: 10px;
}

.block-bottom {
  margin-bottom: 10px;
}

.block-bottom-lg {
  margin-bottom: 40px;
}

.wallet-tab-panel-container {
  height: calc(100vh - 250px);
  overflow: auto;
}

.wallet-tab-panel-inner-container {
  overflow: auto;
}

tr.warning {
  background: #a66321;
}

tr.danger {
  background: #a82a2a;
}

.navbar-edit {
  margin-left: 10px;
}

.inline-field {
  float: left;
  margin-left: 10px;
}

.bp3-input-group.edit-plan-label {
  display: none;
}

.bp3-input-group.edit-plan-label.show {
  display: block;
}
